@import 'tailwindcss';

:root {
	--background: #0c0c0c;
	--foreground: #f5f5f5;
	--secondary: #151515;
	--secondary-lighter: #777777;
	--primary: #99e11d;
	--radius: 0.75rem; /* 12px */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-secondary-lighter: var(--secondary-lighter);
	--font-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif;
	--font-mono: 'IBM Plex Mono', ui-monospace, monospace;
}

/* no light and dark mode switch for now */
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #f5f5f5;
    --foreground: #0C0C0C;
  }
} */

body {
	background: var(--background);
	color: var(--foreground);
}

/* Hide browser password reveal button */
input[type='password']::-ms-reveal,
input[type='password']::-webkit-textfield-decoration-container {
	display: none;
}

@layer utilities {
	/* hidden scrollbar (default) */
	.hidden-scrollbar {
		scrollbar-width: none;
		scrollbar-color: transparent transparent;
	}
	.hidden-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* custom scrollbar (md and up) */
	@media (min-width: 768px) {
		.md\:custom-scrollbar {
			scrollbar-width: thin;
			scrollbar-color: #404040 transparent;
		}
		.md\:custom-scrollbar::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}
		.md\:custom-scrollbar::-webkit-scrollbar-track {
			background: transparent;
		}
		.md\:custom-scrollbar::-webkit-scrollbar-thumb {
			background-color: #404040;
			border-radius: 10px;
			border: 2px solid transparent;
		}
	}
}
